services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"       
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  auth-service:
    build: ./auth-service
    container_name: auth-service
    env_file:
      - ./auth-service/.env
    depends_on:
      - mongo
    ports:
      - "5010:5001"
    restart: unless-stopped

  restaurant-service:
    build: ./restaurant-service
    container_name: restaurant-service
    env_file:
      - ./restaurant-service/.env
    depends_on:
      - mongo
    ports:
      - "5020:5002"
    restart: unless-stopped

  order-service:
    build: ./order-service
    container_name: order-service
    env_file:
      - ./order-service/.env
    depends_on:
      - mongo
      - restaurant-service
      - auth-service
    ports:
      - "5030:5003"
    restart: unless-stopped

  delivery-service:
    build: ./delivery-service
    container_name: delivery-service
    env_file:
      - ./delivery-service/.env
    depends_on:
      - mongo
      - order-service
      - auth-service
    ports:
      - "5040:5004"
    restart: unless-stopped

  payment-service:
    build: ./payment-service
    container_name: payment-service
    env_file:
      - ./payment-service/.env
    depends_on:
      - mongo
    ports:
      - "5080:5008"
    restart: unless-stopped

  notification-service:
    build: ./notification-service
    container_name: notification-service
    env_file:
      - ./notification-service/.env
    depends_on:
      - mongo
    ports:
      - "5060:5006"
    restart: unless-stopped

  # (Tuỳ chọn) GUI xem DB
  mongo-express:
    image: mongo-express:1
    container_name: mongo-express
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb+srv://fast_food:fast_food@cluster0.2rwrcud.mongodb.net/?appName=Cluster0
    restart: unless-stopped

volumes:
  mongo_data:
